# Copy this file to `.env.local` and fill in real values 

# Public
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_APP_NAME=

# Google and Websocket
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CALLBACK_URL=
NEXT_PUBLIC_CHAT_SOCKET_URL=

# Backend API URL and Cloudinary
API_BASE_URL=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
NEXT_PUBLIC_API_BASE_URL=

# Analytics
NEXT_PUBLIC_MIXPANEL_TOKEN=
NEXT_PUBLIC_GTM_ID=
